<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layouts</title>
  </head>
  <body>
    <h1>Layout</h1>
    <hr />
    <ol>
      <li><a href="bootstrap.html">Framework - Bootstrap</a></li>
      <li><a href="grid.html">Grid</a></li>
      <li><a href="flexbox.html">Flexbox</a></li>
      <li><a href="flexbox-responsive.html">Flexbox Responsive</a></li>
      <li><a href="float.html">Float</a></li>
      <li><a href="table.html">Table</a></li>
    </ol>
  </body>
</html>
