<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/table.css" />
    <title>Table</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <td class="header">CABECERA</td>
        </tr>
        <tr>
          <td class="nav">NAVEGACIÓN</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <table>
              <tr>
                <td class="main">CONTENIDO PRINCIPAL</td>
                <td class="aside">CONTENIDO SECUNDARIO</td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="footer">PIE DE PÁGINA</td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
